Package: xyz.skitty.ersatz
Name: Ersatz
Depends: firmware (>= 11.0), mobilesubstrate, preferenceloader, com.opa334.rootless
Version: 1.0.1
Architecture: iphoneos-arm64
Description: Replace any text, system-wide!
Maintainer: Skitty
Author: Skitty
Section: Tweaks
